<% @character = Character.find(params[:id])  %>

<h1><%= @character.name %></h1>
<br>Rasse: <%= @character.race.name %>
<br>Klasse: <%= @character.klass.name %>
<br>Level: <%= @character.level %>
<br>
<br>Leben: <%= @character.hitpoints %>
<br>Energie: <%= @character.stamina %>
<br>Mana: <%= @character.mana %>
<br>Armor: <%= @character.armor %>
<br>Widerstand: <%= @character.resistence %>
<br>
<br>Stärke: <%= @character.strength %>
<br>Beweglichkeit: <%= @character.agility %>
<br>Intelligenz: <%= @character.intellect %>
<br>Täuschung: <%= @character.cunning %>
<br>Willenskraft: <%= @character.willpower %>
<br>Ausstrahlung: <%= @character.presence %>
<br>
<br><%= link_to 'Zurück', characters_path %>